// * , *::after , *::before
// {
//     padding: 0;
//     margin: 0;
//     box-sizing: inherit;
// }

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    font-size: 1.6rem;
    font-family: "Varela Round", sans-serif;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
a{
    text-decoration: none !important;
}


.ps-section__top {
    margin-bottom: 15px;
    font-family: "Pacifico", cursive;
    font-size: 24px;
    color: #ee7560;
  }
  .ps-section__title--full {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    font-size: 35px;
    color: #000;
    text-transform: uppercase;
    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100px;
      height: 20px;
      background-color: #e9e9e9;
      z-index: 10;
    }
    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    }
  }